<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Advertisement</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:spring-context.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                classpath:spring-context.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
     </servlet>

    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <!--<url-pattern>*.do</url-pattern>-->
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

  <!--  <servlet>
        <servlet-name>Auto</servlet-name>
        <servlet-class>ru.job4j.servlets.AutorisationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auto</servlet-name>
        <url-pattern>/auto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>ru.job4j.servlets.ViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>New</servlet-name>
        <servlet-class>ru.job4j.servlets.CreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>New</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JsonController</servlet-name>
        <servlet-class>ru.job4j.servlets.JsonController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonController</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>CarFilter</filter-name>
        <filter-class>ru.job4j.servlets.AutoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CarFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ImageController</servlet-name>
        <servlet-class>ru.job4j.servlets.ImageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageController</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>ru.job4j.servlets.EditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>-->
</web-app>