<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<body>
<h1>Страницы и запросы приложения:</h1>
<ol>
    <li>/start - стартовая страница приложения</li>
    <li>/login - страница регистрации и авторизация пользователя</li>
    <li>/register - страница преобразования ссылок и перехода</li>
    <li>/statistic - страница для просмотра актуальной статистики</li>
    <li>/help - вспомогательная страница</li>
    <li>/account - запрос для регистрации нового пользователя</li>
</ol><br>
<h2>Дополнительная информация</h2><br>
<q> Для реализации основной логики использован стек технологий: Spring-boot, Hibernate, jQuery. Для приложения
    используется встроенная база данных h2. Для отображения страниц используется связка html, css, thymeleaf(как шаблонизатор)</q>
</body>
</html>