<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retrival of statistic</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/statistic.js"></script>
</head>
<body>
<br> Account ID <input type="text" name="account"/>
<input type="button" value="Show statistics" onclick="show()"/>
<div id="mod">
</div>
</body>
</html>