<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://wwww.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <title>Вход в систему</title>
    <link rel="icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css" content-type="text/css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/placeholder.js"></script>
</head>
<body>

<!--<c:if test="${logout != ''}">
    <div id="section" style="background-color: red">
        <c:out value="${logout}"></c:out>
    </div>
</c:if>-->
<div th:if="${param.error}">
    Invalid username and password!
</div>
<div th:if="${param.logout}">
    You have been logged!
</div>
<form th:action="@{/login}" method="post" >
    <!--<%&#45;&#45;@declare id="login"&#45;&#45;%>
    <%&#45;&#45;@declare id="password"&#45;&#45;%>-->
    <div><label> Логин:<input type="text" name="login" class="placeholder" placeholder="example@example.com"></label></div>
    <div><label> Пароль:<input type="password" name="password" class="placeholder" placeholder="Надежный пароль"></label></div>
    <div><input type="submit" value="ВОЙТИ"></div>
</form>
</body>
</html>
